<a href="https://colab.research.google.com/github/Richardbmk/AWS_AnaliticsNotes/blob/master/Bigdata_project/code/spark_playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [10]:
import os

In [17]:
os.system("wget -q https://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz")

0

In [18]:
ls -l

total 219120
drwxr-xr-x 1 root root      4096 Mar 25 13:38 sample_data/
-rw-r--r-- 1 root root 224374704 Feb 22 02:45 spark-3.1.1-bin-hadoop2.7.tgz

In [19]:
os.system("tar xf /spark-3.1.1-bin-hadoop2.7.tgz")

512

In [20]:
ls -l

total 219120
drwxr-xr-x 1 root root      4096 Mar 25 13:38 sample_data/
-rw-r--r-- 1 root root 224374704 Feb 22 02:45 spark-3.1.1-bin-hadoop2.7.tgz

In [21]:
!tar xf spark-3.1.1-bin-hadoop2.7.tgz

In [22]:
ls -l

total 219124
drwxr-xr-x  1 root root      4096 Mar 25 13:38 sample_data/
drwxr-xr-x 13 1000 1000      4096 Feb 22 02:44 spark-3.1.1-bin-hadoop2.7/
-rw-r--r--  1 root root 224374704 Feb 22 02:45 spark-3.1.1-bin-hadoop2.7.tgz

In [23]:
rm spark-3.1.1-bin-hadoop2.7.tgz

In [24]:
ls -l

total 8
drwxr-xr-x  1 root root 4096 Mar 25 13:38 sample_data/
drwxr-xr-x 13 1000 1000 4096 Feb 22 02:44 spark-3.1.1-bin-hadoop2.7/

In [25]:
!pip install -q findspark

In [27]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [28]:
import findspark
findspark.init()

In [29]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [30]:
spark

In [31]:
data = './sample_data/california_housing_train.csv'
df_spark = spark.read.csv(data, inferSchema=True, header=True)

In [32]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [33]:
df_spark.count()

17000

In [34]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [35]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [36]:
df_spark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [37]:
df_spark.describe().toPandas().transpose()

                        0                    1  ...        3         4
summary             count                 mean  ...      min       max
longitude           17000  -119.56210823529375  ...  -124.35   -114.31
latitude            17000     35.6252247058827  ...    32.54     41.95
housing_median_age  17000    28.58935294117647  ...      1.0      52.0
total_rooms         17000    2643.664411764706  ...      2.0   37937.0
total_bedrooms      17000    539.4108235294118  ...      1.0    6445.0
population          17000   1429.5739411764705  ...      3.0   35682.0
households          17000    501.2219411764706  ...      1.0    6082.0
median_income       17000    3.883578100000021  ...   0.4999   15.0001
median_house_value  17000   207300.91235294117  ...  14999.0  500001.0

[10 rows x 5 columns]

In [38]:
df_spark.describe(['median_house_value']).show()

+-------+------------------+
|summary|median_house_value|
+-------+------------------+
|  count|             17000|
|   mean|207300.91235294117|
| stddev|115983.76438720895|
|    min|           14999.0|
|    max|          500001.0|
+-------+------------------+