<a href="https://colab.research.google.com/github/Richardbmk/AWS_AnaliticsNotes/blob/master/Bigdata_project/code/spark_playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Installation of Spark**

In [3]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [4]:
import os

In [5]:
os.system("wget -q https://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz")

0

In [6]:
ls -l

total 219156
drwxr-xr-x  1 root root      4096 Mar 25 13:38 sample_data/
-rw-r--r--  1 root root     32363 Apr  5 05:51 sample_movielens_ratings.txt
drwxr-xr-x 13 1000 1000      4096 Feb 22 02:44 spark-3.1.1-bin-hadoop2.7/
-rw-r--r--  1 root root 224374704 Feb 22 02:45 spark-3.1.1-bin-hadoop2.7.tgz

In [7]:
os.system("tar xf /spark-3.1.1-bin-hadoop2.7.tgz")

512

In [8]:
ls -l

total 219156
drwxr-xr-x  1 root root      4096 Mar 25 13:38 sample_data/
-rw-r--r--  1 root root     32363 Apr  5 05:51 sample_movielens_ratings.txt
drwxr-xr-x 13 1000 1000      4096 Feb 22 02:44 spark-3.1.1-bin-hadoop2.7/
-rw-r--r--  1 root root 224374704 Feb 22 02:45 spark-3.1.1-bin-hadoop2.7.tgz

In [9]:
!tar xf spark-3.1.1-bin-hadoop2.7.tgz

In [10]:
ls -l

total 219156
drwxr-xr-x  1 root root      4096 Mar 25 13:38 sample_data/
-rw-r--r--  1 root root     32363 Apr  5 05:51 sample_movielens_ratings.txt
drwxr-xr-x 13 1000 1000      4096 Feb 22 02:44 spark-3.1.1-bin-hadoop2.7/
-rw-r--r--  1 root root 224374704 Feb 22 02:45 spark-3.1.1-bin-hadoop2.7.tgz

In [11]:
rm spark-3.1.1-bin-hadoop2.7.tgz

In [12]:
ls -l

total 40
drwxr-xr-x  1 root root  4096 Mar 25 13:38 sample_data/
-rw-r--r--  1 root root 32363 Apr  5 05:51 sample_movielens_ratings.txt
drwxr-xr-x 13 1000 1000  4096 Feb 22 02:44 spark-3.1.1-bin-hadoop2.7/

In [13]:
!pip install -q findspark

In [14]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [15]:
import findspark
findspark.init()

In [16]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [17]:
spark

# **Basic Sample of Spark**

In [18]:
data = './sample_data/california_housing_train.csv'
df_spark = spark.read.csv(data, inferSchema=True, header=True)

In [19]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_spark.count()

17000

In [21]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [22]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [23]:
df_spark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [24]:
df_spark.describe().toPandas().transpose()

                        0                    1  ...        3         4
summary             count                 mean  ...      min       max
longitude           17000  -119.56210823529375  ...  -124.35   -114.31
latitude            17000     35.6252247058827  ...    32.54     41.95
housing_median_age  17000    28.58935294117647  ...      1.0      52.0
total_rooms         17000    2643.664411764706  ...      2.0   37937.0
total_bedrooms      17000    539.4108235294118  ...      1.0    6445.0
population          17000   1429.5739411764705  ...      3.0   35682.0
households          17000    501.2219411764706  ...      1.0    6082.0
median_income       17000    3.883578100000021  ...   0.4999   15.0001
median_house_value  17000   207300.91235294117  ...  14999.0  500001.0

[10 rows x 5 columns]

In [25]:
df_spark.describe(['median_house_value']).show()

+-------+------------------+
|summary|median_house_value|
+-------+------------------+
|  count|             17000|
|   mean|207300.91235294117|
| stddev|115983.76438720895|
|    min|           14999.0|
|    max|          500001.0|
+-------+------------------+

# **ALS Big Data Sample Project**

In [26]:
from pyspark.sql import SparkSession

In [27]:
# $example on$
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
# $example off$

In [28]:
if __name__=="__main__":
  spark = SparkSession.builder.appName("ALSExample").getOrCreate()

In [29]:
# $example on$
lines = spark.read.text("./sample_movielens_ratings.txt").rdd

In [30]:
lines

MapPartitionsRDD[39] at javaToPython at NativeMethodAccessorImpl.java:0

In [31]:
parts = lines.map(lambda row: row.value.split("::"))

In [32]:
parts

PythonRDD[40] at RDD at PythonRDD.scala:53

In [33]:
ratingsRDD =parts.map(lambda p: Row(userId=int(p[0]), movieId=int(p[1]), rating=float(p[2]), timestamp=float(p[3])))

In [34]:
ratingsRDD

PythonRDD[41] at RDD at PythonRDD.scala:53

In [35]:
ratings = spark.createDataFrame(ratingsRDD)

In [36]:
ratings

DataFrame[userId: bigint, movieId: bigint, rating: double, timestamp: double]

In [37]:
ratings.head

In [38]:
ratings.count()

1501

In [39]:
ratings.show()

+------+-------+------+-------------+
|userId|movieId|rating|    timestamp|
+------+-------+------+-------------+
|     0|      2|   3.0|1.424380312E9|
|     0|      3|   1.0|1.424380312E9|
|     0|      5|   2.0|1.424380312E9|
|     0|      9|   4.0|1.424380312E9|
|     0|     11|   1.0|1.424380312E9|
|     0|     12|   2.0|1.424380312E9|
|     0|     15|   1.0|1.424380312E9|
|     0|     17|   1.0|1.424380312E9|
|     0|     19|   1.0|1.424380312E9|
|     0|     21|   1.0|1.424380312E9|
|     0|     23|   1.0|1.424380312E9|
|     0|     26|   3.0|1.424380312E9|
|     0|     27|   1.0|1.424380312E9|
|     0|     28|   1.0|1.424380312E9|
|     0|     29|   1.0|1.424380312E9|
|     0|     30|   1.0|1.424380312E9|
|     0|     31|   1.0|1.424380312E9|
|     0|     34|   1.0|1.424380312E9|
|     0|     37|   1.0|1.424380312E9|
|     0|     41|   2.0|1.424380312E9|
+------+-------+------+-------------+
only showing top 20 rows

In [40]:
ratings.printSchema()

root
 |-- userId: long (nullable = true)
 |-- movieId: long (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: double (nullable = true)

In [41]:
ratings.columns

['userId', 'movieId', 'rating', 'timestamp']

In [42]:
type(ratings)

pyspark.sql.dataframe.DataFrame

In [43]:
(training, test) = ratings.randomSplit([0.8, 0.2])

In [44]:
ratings.count()

1501

In [45]:
training.count()

1199

In [46]:
test.count()

302

##  **Build the recommendation model using ALS on the training data**

In [47]:
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop")
als

ALS_618fbbd42c06

In [48]:
model = als.fit(training)
model

ALSModel: uid=ALS_618fbbd42c06, rank=10

## **Evaluate the model by computing the RMSE on the test data**

In [49]:
predictions = model.transform(test)

In [50]:
predictions

DataFrame[userId: bigint, movieId: bigint, rating: double, timestamp: double, prediction: float]

In [51]:
predictions.show()

+------+-------+------+-------------+-----------+
|userId|movieId|rating|    timestamp| prediction|
+------+-------+------+-------------+-----------+
|    12|     31|   4.0|1.424380312E9|   1.911495|
|     8|     31|   3.0|1.424380312E9|  1.1170952|
|     7|     31|   3.0|1.424380312E9|  0.6012631|
|    28|     85|   1.0|1.424380312E9|  3.1858408|
|    12|     85|   1.0|1.424380312E9| 0.12938237|
|     4|     85|   1.0|1.424380312E9|   3.853216|
|     7|     85|   4.0|1.424380312E9|  3.3408704|
|    21|     85|   3.0|1.424380312E9|  2.8958502|
|     5|     65|   2.0|1.424380312E9|  0.9912592|
|    15|     65|   2.0|1.424380312E9|  0.2259601|
|     4|     65|   1.0|1.424380312E9| 0.38207692|
|    23|     53|   1.0|1.424380312E9| -0.5596531|
|    28|     78|   1.0|1.424380312E9|  0.9736173|
|    19|     78|   1.0|1.424380312E9|    1.03233|
|    11|     78|   1.0|1.424380312E9| -0.1350382|
|    28|     34|   1.0|1.424380312E9|-0.27100372|
|    14|     34|   1.0|1.424380312E9|  1.2164042|
|     2|     34|   4.0|1.424380312E9|  2.3619866|
|    26|     81|   3.0|1.424380312E9|  5.3561974|
|     6|     81|   1.0|1.424380312E9|-0.41361564|
+------+-------+------+-------------+-----------+
only showing top 20 rows

In [52]:
predictions.count()

302

In [53]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")

In [54]:
evaluator

RegressionEvaluator_a4534572836e

In [55]:
rmse = evaluator.evaluate(predictions)

In [56]:
rmse

1.6962591434811327

In [57]:
print("Root-Mean-Square-Error = " + str(rmse))

Root-Mean-Square-Error = 1.6962591434811327

### **Generate top 10 movie recommendations for each user**

In [58]:
userRecs = model.recommendForAllUsers(10)

In [59]:
userRecs.show()

+------+--------------------+
|userId|     recommendations|
+------+--------------------+
|    28|[{92, 5.0909753},...|
|    26|[{23, 6.1785674},...|
|    27|[{39, 5.4898624},...|
|    12|[{17, 4.943991}, ...|
|    22|[{75, 5.0853486},...|
|     1|[{62, 3.8362153},...|
|    13|[{93, 3.9575136},...|
|     6|[{43, 3.776714}, ...|
|    16|[{85, 4.8665037},...|
|     3|[{51, 4.774131}, ...|
|    20|[{23, 5.205319}, ...|
|     5|[{90, 4.039958}, ...|
|    19|[{18, 5.0853095},...|
|    15|[{43, 3.1264443},...|
|    17|[{32, 6.707806}, ...|
|     9|[{49, 4.7429285},...|
|     4|[{29, 4.1509886},...|
|     8|[{29, 4.8969913},...|
|    23|[{55, 5.1820483},...|
|     7|[{47, 3.759677}, ...|
+------+--------------------+
only showing top 20 rows

### **Generate top 10 user recommendations for each movie**

In [60]:
movieRecs = model.recommendForAllItems(10)

In [61]:
movieRecs.show()

+-------+--------------------+
|movieId|     recommendations|
+-------+--------------------+
|     31|[{14, 2.7363229},...|
|     85|[{16, 4.8665037},...|
|     65|[{23, 4.9179025},...|
|     53|[{21, 4.846569}, ...|
|     78|[{26, 1.2810951},...|
|     34|[{11, 4.872094}, ...|
|     81|[{26, 5.3561974},...|
|     28|[{26, 5.2629313},...|
|     76|[{14, 4.74485}, {...|
|     26|[{26, 3.8408446},...|
|     27|[{11, 4.8782845},...|
|     44|[{23, 4.791009}, ...|
|     12|[{28, 4.81085}, {...|
|     91|[{12, 3.3806934},...|
|     22|[{22, 4.98834}, {...|
|     93|[{13, 3.9575136},...|
|     47|[{11, 4.59161}, {...|
|      1|[{16, 1.4052126},...|
|     52|[{14, 4.892256}, ...|
|     13|[{23, 3.7657557},...|
+-------+--------------------+
only showing top 20 rows

### **Generate top 10 movie recommendations for a specified set of users**

In [62]:
users = ratings.select(als.getUserCol()).distinct().limit(3)

In [63]:
users.show()

+------+
|userId|
+------+
|    26|
|    29|
|    19|
+------+

In [64]:
userSubsetRecs = model.recommendForUserSubset(users, 10)

In [65]:
userSubsetRecs.show()

+------+--------------------+
|userId|     recommendations|
+------+--------------------+
|    26|[{23, 6.1785674},...|
|    19|[{18, 5.0853095},...|
|    29|[{46, 4.758663}, ...|
+------+--------------------+

### **Generate top 10 user recommendations for a specified set of movies**

In [66]:
movies = ratings.select(als.getItemCol()).distinct().limit(3)

In [67]:
movies.show()

+-------+
|movieId|
+-------+
|     26|
|     29|
|     65|
+-------+

In [68]:
moviesSubSetRecs = model.recommendForItemSubset(movies, 10)

In [69]:
moviesSubSetRecs.show()

+-------+--------------------+
|movieId|     recommendations|
+-------+--------------------+
|     65|[{23, 4.9179025},...|
|     26|[{26, 3.8408446},...|
|     29|[{8, 4.8969913}, ...|
+-------+--------------------+